main {
    width:430px; margin: 30px auto;
    text-align: center; background-color:#fdfdfd;
}
main h1 {
    background-color:#5ADF9F; color:#fff;
    font-size:1.125rem; font-weight:700;
    line-height: 54px;
}
main p:first-of-type {
    font-size:1.25rem; color:#1F1F1F;
    margin: 90px 0 36px;
}
main p span {font-weight:600;}
main ul {
    padding: 0 16px; margin-bottom: 60px;
}
main ul li {
    display:flex; flex-flow:row nowrap;
    justify-content:space-between; align-items:center;
    font-size: 0.875rem; margin-bottom: 12px;
    letter-spacing:-0.2px;
}
main ul li:last-of-type {margin:0;}
main ul li .form {
    width:267px; padding:0 16px;
    border:1px solid #DFDFDF; background-color:#EFEFF9;
    line-height:39px; border-radius:20px;
    display: flex; flex-flow: row nowrap;
    justify-content:space-between;
    font-weight:600;
}
main ul li .form {height:39px;}
main ul li .form input[type=text] {
    border:0; outline:none; font-size: 0.875rem;
    letter-spacing:-0.4px;
    background-color:#EFEFF9;
}
main ul li .form input[id=goals] {}
main ul li .form input[id=goals],
main ul li:last-of-type .form {width: 300px;}
main ul li span:nth-of-type(2){}
main p {padding:0 32px;}
main p #result {
    border-radius:30px; border: 1px solid #0EAD61;
    box-shadow:0 0 4px rgba(0, 0, 0, .2);
    background-color:#39CF87; color:#FFF;
    font-weight: 600;
    line-height: 43px; width:100%;
}